{% extends 'base.html' %}
{% block content %}
        {% if request.path == '/'%}
        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-halfscreen dots-creative" data-height-xs="360" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true">
            {% for n in sliders %}
            <!-- Slide 1 -->
            <div class="slide background-image" style="background-image:url('/media/{{n.slider_images}}');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center">
                        <!-- Captions -->
                        {% comment %} <h2 class="text-uppercase text-medium text-light">{{n.slider_title}}</h2> {% endcomment %}
                        {% if n.slider_short_description %}<p class="lead text-light">{{n.slider_short_description}}</p> {% endif %}

                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            {% endfor %}

            <!-- end: Slide 2 -->
        </div>
        <!--end: Inspiro Slider -->
        {% endif %}
    <section class="box-fancy section-fullwidth text-light p-b-0">
        <div class="row">
            <div class="col-lg-12 bg-info" style="">
                <h2 class=" text-uppercase">{{privacy.policy_title}}</h3>
                <span>
                    {{privacy.policy_description | safe}}
                </span>
            </div>
        </div>
    </section>
{% endblock %}   